@charset "UTF-8";
@import 'bootstrap.min.css';
@import "fullpage.min.css";
@import "bootstrap-select.min.css";
:root {
  --border-radius-lg: 16px;
}
@media (max-width: 767.98px) {
  :root {
    --border-radius-lg: 12px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --border-radius-lg: 10px;
  }
}

.gray-color {
  color: #C1C1C1;
}

.gray-dark-color {
  color: #646464;
}

.black-color {
  color: #000;
}

.main-color {
  color: #6D2B70 !important;
}

/* content better media queries */
@font-face {
  font-family: "DIN";
  src: local("DIN-light"), url("../fonts/dtlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN";
  src: local("DIN-regular"), url("../fonts/dtregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN";
  src: local("DIN-medium"), url("../fonts/dtmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN";
  src: local("DIN-bold"), url("../fonts/dtbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.text-1 {
  font-size: 20px;
}
@media (min-width: 1400px) {
  .text-1 {
    font-size: 23px;
  }
}
@media (max-width: 1199.98px) {
  .text-1 {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .text-1 {
    font-size: 16px;
  }
}

.profile-ticket-box h4, .profile-user-name p, .text-2, .exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container .exhibitor-place-number b, .accordion .accordion-button, .profile-space .profile-space-number span, .our-breadcrumb .breadcrumb-title h1, .help-team-box .team-info h4, .help-section-container .help-section-title p, .user-menu span {
  font-size: 18px;
}
@media (min-width: 1400px) {
  .profile-ticket-box h4, .profile-user-name p, .text-2, .exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container .exhibitor-place-number b, .accordion .accordion-button, .profile-space .profile-space-number span, .our-breadcrumb .breadcrumb-title h1, .help-team-box .team-info h4, .help-section-container .help-section-title p, .user-menu span {
    font-size: 20px;
  }
}
@media (max-width: 1199.98px) {
  .profile-ticket-box h4, .profile-user-name p, .text-2, .exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container .exhibitor-place-number b, .accordion .accordion-button, .profile-space .profile-space-number span, .our-breadcrumb .breadcrumb-title h1, .help-team-box .team-info h4, .help-section-container .help-section-title p, .user-menu span {
    font-size: 17px;
  }
}
@media (max-width: 575.98px) {
  .profile-ticket-box h4, .profile-user-name p, .text-2, .exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container .exhibitor-place-number b, .accordion .accordion-button, .profile-space .profile-space-number span, .our-breadcrumb .breadcrumb-title h1, .help-team-box .team-info h4, .help-section-container .help-section-title p, .user-menu span {
    font-size: 16px;
  }
}

.menu-list a, .text-3 {
  font-size: 16px;
}
@media (min-width: 1400px) {
  .menu-list a, .text-3 {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .menu-list a, .text-3 {
    font-size: 15px;
  }
}

.text-4 {
  font-size: 14px;
}
@media (min-width: 1400px) {
  .text-4 {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  .text-4 {
    font-size: 13px;
  }
}

.title-1 {
  font-size: 39px;
}
@media (min-width: 1400px) {
  .title-1 {
    font-size: 42px;
  }
}
@media (max-width: 1199.98px) {
  .title-1 {
    font-size: 32px;
  }
}
@media (max-width: 575.98px) {
  .title-1 {
    font-size: 23px;
  }
}

.title-2 {
  font-size: 30px;
}
@media (min-width: 1400px) {
  .title-2 {
    font-size: 34px;
  }
}
@media (max-width: 1199.98px) {
  .title-2 {
    font-size: 27px;
  }
}
@media (max-width: 575.98px) {
  .title-2 {
    font-size: 19px;
  }
}

.profile-space .profile-space-number, .full-page-container h5, .title-3, .create-account-type-container .account-type-box .account-type-info h3 {
  font-size: 26px;
}
@media (min-width: 1400px) {
  .profile-space .profile-space-number, .full-page-container h5, .title-3, .create-account-type-container .account-type-box .account-type-info h3 {
    font-size: 30px;
  }
}
@media (max-width: 1199.98px) {
  .profile-space .profile-space-number, .full-page-container h5, .title-3, .create-account-type-container .account-type-box .account-type-info h3 {
    font-size: 25px;
  }
}
@media (max-width: 575.98px) {
  .profile-space .profile-space-number, .full-page-container h5, .title-3, .create-account-type-container .account-type-box .account-type-info h3 {
    font-size: 18px;
  }
}

.title-4 {
  font-size: 22px;
}
@media (min-width: 1400px) {
  .title-4 {
    font-size: 25px;
  }
}
@media (max-width: 1199.98px) {
  .title-4 {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .title-4 {
    font-size: 18px;
  }
}

.main-btn, .white-btn, .gray-outline-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 25px 12px 25px;
  border-radius: 8px;
  background-color: #911D74;
  color: #fff;
  border: 2px solid #911D74;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.main-btn:hover, .white-btn:hover, .gray-outline-btn:hover {
  color: #911D74;
  background-color: #fff;
}

.gray-outline-btn {
  border-color: #C1C1C1;
  background-color: white;
  color: #C1C1C1;
}
.gray-outline-btn:hover {
  color: #646464;
  background-color: #C1C1C1;
}

.white-btn {
  background-color: #fff;
  color: #911D74;
  border-color: #fff;
}
.white-btn:hover {
  background-color: #911D74;
  color: #fff;
}

.link:hover {
  color: #911D74;
}

.parsley-errors-list {
  list-style: none;
  padding-left: 5px;
  position: absolute;
  bottom: -19px;
  color: #EB402E;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-img {
  background-position: center;
  background-size: cover;
}

.form-container {
  border-radius: 10px;
  overflow: hidden;
}

.form-inner {
  background-color: #fff;
  padding: 40px;
}
@media (max-width: 767.98px) {
  .form-inner {
    padding: 30px;
  }
}
@media (max-width: 575.98px) {
  .form-inner {
    padding: 20px;
  }
}

.form .form-input-container {
  position: relative;
  margin-bottom: 25px;
}
.form .form-input-container textarea {
  resize: none;
}
.form .form-input-container input {
  min-height: 45px;
}
.form .input-icon {
  position: relative;
}
.form .input-icon .input-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8px;
  width: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}
.form .input-icon .input-img img {
  max-width: 100%;
}
.form .input-icon input {
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  direction: ltr;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #911D74;
}

.form-control {
  border-radius: 8px;
}

.form-check-input:checked {
  background-color: #911D74;
  border-color: #911D74;
}

.form-check-input:focus {
  border-color: #911D74;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-check-input {
  cursor: pointer;
}

.form-check label {
  cursor: pointer;
}

.bootstrap-select-icon {
  position: relative;
}
.bootstrap-select-icon .filter-option-inner-inner {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
.bootstrap-select-icon .input-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8px;
  width: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  pointer-events: none;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 8px;
  min-height: 45px;
}

.bootstrap-select {
  width: 100% !important;
}

.bootstrap-select .dropdown-toggle .filter-option {
  text-align: left;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #fff;
  height: 45px;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.bootstrap-select .btn.show {
  border-color: #911D74 !important;
}

.bootstrap-select > .dropdown-toggle {
  height: 45px;
  border-radius: 8px;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.bootstrap-select .dropdown-item.active, .dropdown-item:active {
  background-color: #911D74;
}

.bootstrap-select > .dropdown-toggle:after {
  display: none;
}

.bootstrap-select > .dropdown-toggle:before {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 7px;
  display: block;
  width: 12px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.508' height='10.254' viewBox='0 0 17.508 10.254'%3E%3Cpath id='Icon_feather-chevron-down' data-name='Icon feather-chevron-down' d='M9,13.5l6.633,6.633L22.266,13.5' transform='translate(-6.879 -11.379)' fill='none' stroke='%23c1c1c1' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
}

.bootstrap-select > .dropdown-toggle.show:before {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.bs-placeholder .filter-option-inner-inner {
  color: #777;
}

.bootstrap-select .dropdown-toggle .filter-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-file {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45px;
  margin-bottom: 0;
}

.custom-file-input {
  pointer-events: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 45px;
  margin: 0;
  opacity: 0;
}
.custom-file-input:focus ~ .custom-file-control {
  border-color: #ced4da;
}
.custom-file-input:focus ~ .custom-file-control::before {
  border-color: #ced4da;
}

.custom-file-label {
  cursor: pointer;
  position: absolute;
  line-height: 30px;
  padding: 5px;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 45px;
  color: #777;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
}
.custom-file-label::after {
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: absolute;
  color: #000;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 43px;
  padding: 0 8px;
  line-height: 37px;
  content: "استعراض";
  background-color: #F5F5F5;
  border-radius: 8px;
}

.custom-file-label.change {
  color: #000 !important;
}

header {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 200;
  padding: 30px 0;
}
@media (max-width: 767.98px) {
  header {
    padding: 10px 0;
  }
}
header .menu-top-bar {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 575.98px) {
  header .menu-top-bar img {
    width: 150px;
  }
}
header.menu-is-open .top-menu-container {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}
header.menu-is-open .menu-top-bar {
  opacity: 0;
}

.open-menu-btn {
  background-color: transparent;
  border: 0;
  direction: rtl;
}
.open-menu-btn span {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  width: 16px;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  display: block;
  margin: 6px 0;
}
.open-menu-btn span:nth-child(2) {
  width: 32px;
}
.open-menu-btn span:nth-child(3) {
  width: 22px;
}
.open-menu-btn:hover span {
  width: 32px !important;
}

.top-menu-container {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 0;
  background-color: rgba(55, 22, 56, 0.93);
  padding: 30px 0;
}

.close-menu-btn {
  background-color: transparent;
  border: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 575.98px) {
  .close-menu-btn svg {
    width: 25px;
    height: auto;
  }
}
.close-menu-btn:hover {
  opacity: 0.5;
}

.menu-lang {
  font-size: 18px;
  color: #fff;
}
.menu-lang:hover {
  color: #C1C1C1;
}
.menu-lang svg {
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
  margin-top: -2px;
}

.user-menu {
  margin-bottom: 2rem;
  text-align: center;
  display: inline-block;
}
.user-menu span {
  display: block;
  margin-top: 0.5rem;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.user-menu img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 575.98px) {
  .user-menu img {
    width: 60px;
    height: 60px;
  }
}
.user-menu:hover span {
  color: #C1C1C1;
}

.menu-list {
  text-align: center;
}
.menu-list a {
  color: #fff;
}
.menu-list a svg {
  -webkit-margin-end: 3px;
          margin-inline-end: 3px;
}
.menu-list a:hover {
  color: #C1C1C1;
}
.menu-list li {
  margin-bottom: 15px;
}
.menu-list li:not(:last-child) {
  -webkit-margin-end: 0.9rem;
          margin-inline-end: 0.9rem;
}

#footer {
  background-color: #6D2B70;
  padding: 80px 0;
}

@media (max-width: 991.98px) {
  .footer-list {
    margin-bottom: 15px;
  }
}
.footer-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-list li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-list li .footer-icon {
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
  height: 18px;
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-list li .footer-icon svg {
  max-width: 100%;
  max-height: 100%;
}
.footer-list li a {
  font-size: 18px;
  color: #fff;
  padding-bottom: 2px;
}
.footer-list li a:hover {
  color: #C1C1C1;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .footer-social {
    margin-top: 30px;
  }
}
.footer-social a {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
}
.footer-social a svg path, .footer-social a svg circle, .footer-social a svg #Rectangle_447 {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.footer-social a:hover {
  background-color: #fff;
}
.footer-social a:hover svg path {
  fill: #6D2B70;
}
.footer-social a:hover svg circle, .footer-social a:hover svg #Rectangle_447 {
  stroke: #6D2B70;
}

p.copy-right {
  text-align: center;
  color: #fff;
}

body {
  position: relative;
  font-family: "DIN", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #000;
  text-align: left;
}
@media (max-width: 575.98px) {
  body {
    font-size: 15px;
  }
}
body.header-is-fixed {
  padding-top: 78px;
}
@media (max-width: 991.98px) {
  body.header-is-fixed {
    padding-top: 67px;
  }
}
body.header-is-fixed.pages-header-fixed {
  padding-top: 78px;
}
@media (max-width: 991.98px) {
  body.header-is-fixed.pages-header-fixed {
    padding-top: 67px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}
html {
  direction: ltr;
}

.container-content {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 767.98px) {
  .container-content {
    width: 95%;
  }
}
@media (max-width: 575.98px) {
  .container-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

html[dir=rtl] body {
  font-family: "sf-font", sans-serif;
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

.section video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

.section .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.fp-watermark {
  display: none;
}

.full-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
}
.full-page-container:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.full-page-container p {
  margin-top: 1rem;
  color: #C1C1C1;
  max-width: 376px;
  font-weight: 300;
}

.mw-70 {
  max-width: 70%;
}

.side-menu {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: fixed;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}
@media (max-width: 767.98px) {
  .side-menu {
    display: none;
  }
}

.section-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (max-width: 575.98px) {
  .section-title {
    font-size: 40px;
  }
}

.side-menu li {
  width: 75px;
  text-align: center;
}
.side-menu li:not(:last-child) {
  margin-bottom: 1rem;
}
.side-menu li a img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 3px solid #371638;
  opacity: 0.5;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.side-menu li.active a img {
  opacity: 1;
  width: 75px;
  height: 75px;
}

#fullpage .section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.help-section-container {
  padding-top: 100px;
}
@media (max-width: 1399.98px) {
  .help-section-container {
    padding-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .help-section-container {
    padding-top: 60px;
  }
}
@media (max-width: 575.98px) {
  .help-section-container {
    padding-top: 30px;
  }
}
.help-section-container .help-section-title p {
  color: rgba(0, 0, 0, 0.5);
  max-width: 515px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.help-team-box {
  margin-bottom: 30px;
}
.help-team-box .team-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #911D74;
}
@media (max-width: 767.98px) {
  .help-team-box .team-info img {
    width: 55px;
    height: 55px;
  }
}
.help-team-box .team-info h4 {
  color: #911D74;
}
.help-team-box ul {
  margin-top: 0.5rem;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
}
.help-team-box ul li svg {
  max-height: 16px;
  width: 22px;
}
.help-team-box ul li a {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
  -webkit-border-start: 1px solid #C1C1C1;
          border-inline-start: 1px solid #C1C1C1;
  color: #000;
}
.help-team-box ul li a:hover {
  color: #911D74;
}
.help-team-box ul li:not(:last-child) {
  margin-bottom: 0.1rem;
}

#map {
  width: 100%;
  height: 40vh;
}

.fp-viewing-help_section .side-menu, .fp-viewing-footer_section .side-menu, .fp-viewing-help_section header, .fp-viewing-footer_section header {
  opacity: 0;
  visibility: hidden;
}

.our-breadcrumb {
  position: relative;
}
.our-breadcrumb img {
  width: 100%;
  height: auto;
  min-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-breadcrumb .breadcrumb-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 15px;
}
@media (max-width: 767.98px) {
  .our-breadcrumb .breadcrumb-title {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
}
.our-breadcrumb .breadcrumb-title h1 {
  margin: 0;
  color: #fff;
  font-weight: 700;
}
.our-breadcrumb .breadcrumb-title h1 svg {
  max-height: 40px;
  max-width: 40px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
@media (max-width: 767.98px) {
  .our-breadcrumb .breadcrumb-title h1 svg {
    max-width: 30px;
    max-height: 30px;
  }
}
.our-breadcrumb:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-section-bg {
  background-color: #371638;
  padding-bottom: 120px;
}
@media (max-width: 767.98px) {
  .page-section-bg {
    padding-bottom: 50px;
  }
}
.page-section-bg .page-section-content {
  margin-top: -5vw;
}
@media (max-width: 575.98px) {
  .page-section-bg .page-section-content {
    margin-top: -9vw;
  }
}

.create-account-type-container .account-type-box {
  margin-bottom: 30px;
  height: 410px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.create-account-type-container .account-type-box::before {
  content: "";
  position: absolute;
  display: block;
  width: 105%;
  height: 105%;
  top: -2.5%;
  left: -2.5%;
  background-color: rgba(55, 22, 56, 0.9);
}
.create-account-type-container .account-type-box .account-type-info {
  position: relative;
  z-index: 2;
  text-align: center;
}
.create-account-type-container .account-type-box .account-type-info h3 {
  color: #fff;
  margin-bottom: 2rem;
}
.create-account-type-container .account-type-box .account-type-info img {
  margin-bottom: 2rem;
  max-width: 90%;
}
.create-account-type-container .account-type-box .account-type-info .main-btn, .create-account-type-container .account-type-box .account-type-info .gray-outline-btn, .create-account-type-container .account-type-box .account-type-info .white-btn {
  min-width: 50%;
}

.my-card, .package-box {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .my-card, .package-box {
    padding: 20px;
  }
}
@media (max-width: 575.98px) {
  .my-card, .package-box {
    padding: 15px;
  }
}

.package-box {
  position: relative;
}
.package-box .pack-number {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  border-end-end-radius: 10px;
  background-color: #371638;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}
.package-box img {
  max-width: 70%;
  height: auto;
}

.places-container .place-check {
  position: relative;
}
.places-container .place-check .form-check-label {
  background-color: #F5F5F5;
  border-radius: 8px;
  border: 1px solid #f5f5f5;
  padding: 15px;
  display: block;
  cursor: pointer;
}
.places-container .place-check .form-check-label .check-text {
  font-size: 14px;
  color: #999999;
}
.places-container .place-check .form-check-label .check-number {
  direction: ltr;
  font-size: 20px;
  color: #000;
  padding-left: 5px;
}
.places-container .place-check .form-check-label .place {
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
.places-container .place-check .form-check-label .place .check-number {
  width: 60px;
}
.places-container .place-check .form-check-label .space {
  position: relative;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
.places-container .place-check .form-check-label .space:before {
  position: absolute;
  content: "";
  display: block;
  background-color: #D4D4D4;
  height: 100%;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.places-container .place-check .form-check-input {
  cursor: pointer;
  position: absolute;
  left: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  width: 1.1em;
  height: 1.1em;
}
.places-container .place-check .form-check-input:checked + label {
  border-color: #911D74;
}

.profile-info .profile-img {
  text-align: center;
}
.profile-info .profile-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #F5F5F5;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-user-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile-user-name p {
  padding-bottom: 4px;
}

.profile-info-list li {
  color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  unicode-bidi: -moz-plaintext;
  unicode-bidi: plaintext;
}
.profile-info-list li svg {
  -webkit-margin-end: 6px;
          margin-inline-end: 6px;
  margin-bottom: -3px;
  width: 14px;
  height: auto;
}

.profile-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile-space .profile-space-number {
  padding: 0 15px;
  border-radius: 8px;
  background-color: #F5F5F5;
  font-weight: 700;
}
.profile-space .profile-space-number span {
  font-weight: 400;
}

.profile-package img {
  width: 195px;
  max-width: 50%;
  height: auto;
}

.profile-ticket-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.profile-ticket-box .profile-ticket-img {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
.profile-ticket-box .profile-ticket-img svg {
  width: 45px;
  height: auto;
}
.profile-ticket-box h4 {
  font-weight: 400;
}
.profile-ticket-box p {
  color: #C1C1C1;
  margin-top: 2px;
}

.ticket-box {
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
}
.ticket-box img {
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.ticket-box h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.blog-box {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.blog-box .blog-box-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 575.98px) {
  .blog-box .blog-box-content {
    padding: 15px;
  }
}
.blog-box .blog-box-content .text-1 {
  color: #fff;
  display: block;
}
.blog-box .blog-box-content .blog-date {
  color: #C1C1C1;
  display: block;
}
.blog-box:before {
  content: "";
  position: absolute;
  display: block;
  height: 90%;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 22, 56, 0)), to(#2e132f));
  background: linear-gradient(rgba(55, 22, 56, 0) 0%, #2e132f 100%);
  opacity: 0.9;
}
.blog-box img {
  min-width: 100%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  -webkit-transition: all 0.8s cubic-bezier(0.26, 0.66, 0.46, 0.81);
  transition: all 0.8s cubic-bezier(0.26, 0.66, 0.46, 0.81);
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}
.blog-box:hover img {
  -webkit-transform: scale(1.2) rotate(-5deg);
          transform: scale(1.2) rotate(-5deg);
}

.border-r-10 {
  border-radius: 10px;
}

.contact-info {
  margin-top: 40px;
  padding: 40px;
  background-color: #F5F5F5;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
}
@media (max-width: 991.98px) {
  .contact-info {
    border-radius: 10px;
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .contact-info {
    padding: 30px;
  }
}
@media (max-width: 575.98px) {
  .contact-info {
    padding: 20px;
  }
}
.contact-info .footer-social a {
  border-color: #6D2B70;
}

.accordion .accordion-item {
  border-radius: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
.accordion .accordion-item .accordion-button {
  border-radius: 0 !important;
}
.accordion .accordion-button {
  color: #6D2B70;
  font-weight: 500;
}
.accordion .accordion-body {
  padding-top: 5px;
}

.accordion-button:not(.collapsed) {
  color: #6D2B70;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236D2B70'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.exhibitors-container .exhibitor-card {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container {
  position: relative;
}
.exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container img.exhibitor-img {
  min-width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container .exhibitor-place-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  background-color: #6D2B70;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 15px;
  right: 15px;
}
.exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container .exhibitor-place-number small {
  display: block;
  font-size: 13px;
}
.exhibitors-container .exhibitor-card .img-info-container .exhibitor-img-container .comp-img {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.exhibitors-container .exhibitor-card .img-info-container .exhibitor-content {
  padding: 15px;
  padding-bottom: 0;
}
.exhibitors-container .exhibitor-card .img-info-container .exhibitor-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.social-style2 {
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-style2 a {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-style2 a:hover {
  background-color: #6D2B70;
}

.exhibitor-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.exhibitor-card .img-info-container {
  width: 100%;
}
.exhibitor-card .social-style2 {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}