@charset "UTF-8";
@import 'bootstrap.rtl.min.css';
@import "fullpage.min.css";
@import "bootstrap-select.min.css";
:root {
  --border-radius-lg: 16px;
}
@media (max-width: 767.98px) {
  :root {
    --border-radius-lg: 12px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --border-radius-lg: 10px;
  }
}

.gray-color {
  color: #C1C1C1;
}

.gray-dark-color {
  color: #646464;
}

.black-color {
  color: #000;
}

/* content better media queries */
@font-face {
  font-family: "DIN";
  src: local("DIN-light"), url("../fonts/dtlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN";
  src: local("DIN-regular"), url("../fonts/dtregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN";
  src: local("DIN-medium"), url("../fonts/dtmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN";
  src: local("DIN-bold"), url("../fonts/dtbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.text-1 {
  font-size: 20px;
}
@media (min-width: 1400px) {
  .text-1 {
    font-size: 23px;
  }
}
@media (max-width: 1199.98px) {
  .text-1 {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .text-1 {
    font-size: 16px;
  }
}

.text-2, .our-breadcrumb .breadcrumb-title h1, .help-team-box .team-info h4, .help-section-container .help-section-title p, .user-menu span {
  font-size: 18px;
}
@media (min-width: 1400px) {
  .text-2, .our-breadcrumb .breadcrumb-title h1, .help-team-box .team-info h4, .help-section-container .help-section-title p, .user-menu span {
    font-size: 21px;
  }
}
@media (max-width: 1199.98px) {
  .text-2, .our-breadcrumb .breadcrumb-title h1, .help-team-box .team-info h4, .help-section-container .help-section-title p, .user-menu span {
    font-size: 17px;
  }
}
@media (max-width: 575.98px) {
  .text-2, .our-breadcrumb .breadcrumb-title h1, .help-team-box .team-info h4, .help-section-container .help-section-title p, .user-menu span {
    font-size: 15px;
  }
}

.menu-list a, .text-3 {
  font-size: 16px;
}
@media (min-width: 1400px) {
  .menu-list a, .text-3 {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .menu-list a, .text-3 {
    font-size: 15px;
  }
}

.text-4 {
  font-size: 14px;
}
@media (min-width: 1400px) {
  .text-4 {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  .text-4 {
    font-size: 13px;
  }
}

.title-1 {
  font-size: 39px;
}
@media (min-width: 1400px) {
  .title-1 {
    font-size: 42px;
  }
}
@media (max-width: 1199.98px) {
  .title-1 {
    font-size: 32px;
  }
}
@media (max-width: 575.98px) {
  .title-1 {
    font-size: 23px;
  }
}

.title-2 {
  font-size: 30px;
}
@media (min-width: 1400px) {
  .title-2 {
    font-size: 34px;
  }
}
@media (max-width: 1199.98px) {
  .title-2 {
    font-size: 27px;
  }
}
@media (max-width: 575.98px) {
  .title-2 {
    font-size: 19px;
  }
}

.full-page-container h5, .title-3, .create-account-type-container .account-type-box .account-type-info h3 {
  font-size: 26px;
}
@media (min-width: 1400px) {
  .full-page-container h5, .title-3, .create-account-type-container .account-type-box .account-type-info h3 {
    font-size: 30px;
  }
}
@media (max-width: 1199.98px) {
  .full-page-container h5, .title-3, .create-account-type-container .account-type-box .account-type-info h3 {
    font-size: 25px;
  }
}
@media (max-width: 575.98px) {
  .full-page-container h5, .title-3, .create-account-type-container .account-type-box .account-type-info h3 {
    font-size: 18px;
  }
}

.title-4 {
  font-size: 22px;
}
@media (min-width: 1400px) {
  .title-4 {
    font-size: 25px;
  }
}
@media (max-width: 1199.98px) {
  .title-4 {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .title-4 {
    font-size: 16px;
  }
}

.main-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 25px 12px 25px;
  border-radius: 8px;
  background-color: #911D74;
  color: #fff;
  border: 2px solid #911D74;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.main-btn:hover {
  color: #911D74;
  background-color: #fff;
}

.link:hover {
  color: #911D74;
}

.parsley-errors-list {
  list-style: none;
  padding-right: 5px;
  position: absolute;
  bottom: -19px;
  color: #EB402E;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-img {
  background-position: center;
  background-size: cover;
}

.form-container {
  border-radius: 10px;
  overflow: hidden;
}

.form-inner {
  background-color: #fff;
  padding: 40px;
}

.form .form-input-container {
  position: relative;
  margin-bottom: 25px;
}
.form .form-input-container input {
  min-height: 45px;
}
.form .input-icon {
  position: relative;
}
.form .input-icon .input-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  width: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}
.form .input-icon input {
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  direction: rtl;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #911D74;
}

.form-control {
  border-radius: 8px;
}

.form-check-input:checked {
  background-color: #911D74;
  border-color: #911D74;
}

.form-check-input:focus {
  border-color: #911D74;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-check-input {
  cursor: pointer;
}

.form-check label {
  cursor: pointer;
}

.bootstrap-select-icon {
  position: relative;
}
.bootstrap-select-icon .filter-option-inner-inner {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
.bootstrap-select-icon .input-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  width: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  pointer-events: none;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 8px;
  min-height: 45px;
}

.bootstrap-select {
  width: 100% !important;
}

.bootstrap-select .dropdown-toggle .filter-option {
  text-align: right;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #fff;
  height: 45px;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.bootstrap-select .btn.show {
  border-color: #911D74 !important;
}

.bootstrap-select > .dropdown-toggle {
  height: 45px;
  border-radius: 8px;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.bootstrap-select .dropdown-item.active, .dropdown-item:active {
  background-color: #911D74;
}

.bootstrap-select > .dropdown-toggle:after {
  display: none;
}

.bootstrap-select > .dropdown-toggle:before {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7px;
  display: block;
  width: 12px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.508' height='10.254' viewBox='0 0 17.508 10.254'%3E%3Cpath id='Icon_feather-chevron-down' data-name='Icon feather-chevron-down' d='M9,13.5l6.633,6.633L22.266,13.5' transform='translate(-6.879 -11.379)' fill='none' stroke='%23c1c1c1' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
}

.bootstrap-select > .dropdown-toggle.show:before {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.bs-placeholder .filter-option-inner-inner {
  color: #777;
}

.bootstrap-select .dropdown-toggle .filter-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-file {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45px;
  margin-bottom: 0;
}

.custom-file-input {
  pointer-events: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 45px;
  margin: 0;
  opacity: 0;
}
.custom-file-input:focus ~ .custom-file-control {
  border-color: #ced4da;
}
.custom-file-input:focus ~ .custom-file-control::before {
  border-color: #ced4da;
}

.custom-file-label {
  cursor: pointer;
  position: absolute;
  line-height: 30px;
  padding: 5px;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 45px;
  color: #777;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
}
.custom-file-label::after {
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: absolute;
  color: #000;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 43px;
  padding: 0 8px;
  line-height: 37px;
  content: "استعراض";
  background-color: #F5F5F5;
  border-radius: 8px;
}

.custom-file-label.change {
  color: #000 !important;
}

header {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 200;
  padding: 30px 0;
}
@media (max-width: 767.98px) {
  header {
    padding: 10px 0;
  }
}
header .menu-top-bar {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 575.98px) {
  header .menu-top-bar img {
    width: 150px;
  }
}
header.menu-is-open .top-menu-container {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}
header.menu-is-open .menu-top-bar {
  opacity: 0;
}

.open-menu-btn {
  background-color: transparent;
  border: 0;
  direction: ltr;
}
.open-menu-btn span {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  width: 16px;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  display: block;
  margin: 6px 0;
}
.open-menu-btn span:nth-child(2) {
  width: 32px;
}
.open-menu-btn span:nth-child(3) {
  width: 22px;
}
.open-menu-btn:hover span {
  width: 32px !important;
}

.top-menu-container {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 0;
  background-color: rgba(55, 22, 56, 0.93);
  padding: 30px 0;
}

.close-menu-btn {
  background-color: transparent;
  border: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 575.98px) {
  .close-menu-btn svg {
    width: 25px;
    height: auto;
  }
}
.close-menu-btn:hover {
  opacity: 0.5;
}

.menu-lang {
  font-size: 18px;
  color: #fff;
}
.menu-lang:hover {
  color: #C1C1C1;
}
.menu-lang svg {
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
  margin-top: -2px;
}

.user-menu {
  margin-bottom: 2rem;
  text-align: center;
  display: inline-block;
}
.user-menu span {
  display: block;
  margin-top: 0.5rem;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.user-menu img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 575.98px) {
  .user-menu img {
    width: 60px;
    height: 60px;
  }
}
.user-menu:hover span {
  color: #C1C1C1;
}

.menu-list {
  text-align: center;
}
.menu-list a {
  color: #fff;
}
.menu-list a svg {
  -webkit-margin-end: 3px;
          margin-inline-end: 3px;
}
.menu-list a:hover {
  color: #C1C1C1;
}
.menu-list li {
  margin-bottom: 15px;
}
.menu-list li:not(:last-child) {
  -webkit-margin-end: 0.9rem;
          margin-inline-end: 0.9rem;
}

#footer {
  background-color: #6D2B70;
  padding: 80px 0;
}

@media (max-width: 991.98px) {
  .footer-list {
    margin-bottom: 15px;
  }
}
.footer-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-list li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-list li .footer-icon {
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
  height: 18px;
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-list li .footer-icon svg {
  max-width: 100%;
  max-height: 100%;
}
.footer-list li a {
  font-size: 18px;
  color: #fff;
  padding-bottom: 2px;
}
.footer-list li a:hover {
  color: #C1C1C1;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .footer-social {
    margin-top: 30px;
  }
}
.footer-social a {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
}
.footer-social a svg path, .footer-social a svg circle, .footer-social a svg #Rectangle_447 {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.footer-social a:hover {
  background-color: #fff;
}
.footer-social a:hover svg path {
  fill: #6D2B70;
}
.footer-social a:hover svg circle, .footer-social a:hover svg #Rectangle_447 {
  stroke: #6D2B70;
}

p.copy-right {
  text-align: center;
  color: #fff;
}

body {
  position: relative;
  font-family: "DIN", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #000;
  text-align: right;
}
@media (max-width: 575.98px) {
  body {
    font-size: 15px;
  }
}
body.header-is-fixed {
  padding-top: 78px;
}
@media (max-width: 991.98px) {
  body.header-is-fixed {
    padding-top: 67px;
  }
}
body.header-is-fixed.pages-header-fixed {
  padding-top: 78px;
}
@media (max-width: 991.98px) {
  body.header-is-fixed.pages-header-fixed {
    padding-top: 67px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}
html {
  direction: rtl;
}

.container-content {
  width: 89%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (max-width: 767.98px) {
  .container-content {
    width: 95%;
  }
}
@media (max-width: 575.98px) {
  .container-content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

html[dir=rtl] body {
  font-family: "sf-font", sans-serif;
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

.section video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

.section .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.fp-watermark {
  display: none;
}

.full-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
}
.full-page-container:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.full-page-container p {
  margin-top: 1rem;
  color: #C1C1C1;
  max-width: 376px;
  font-weight: 300;
}

.mw-70 {
  max-width: 70%;
}

.side-menu {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: fixed;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}
@media (max-width: 767.98px) {
  .side-menu {
    display: none;
  }
}

.section-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (max-width: 575.98px) {
  .section-title {
    font-size: 40px;
  }
}

.side-menu li {
  width: 75px;
  text-align: center;
}
.side-menu li:not(:last-child) {
  margin-bottom: 1rem;
}
.side-menu li a img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 3px solid #371638;
  opacity: 0.5;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.side-menu li.active a img {
  opacity: 1;
  width: 75px;
  height: 75px;
}

#fullpage .section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.help-section-container {
  padding-top: 100px;
}
@media (max-width: 1399.98px) {
  .help-section-container {
    padding-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .help-section-container {
    padding-top: 60px;
  }
}
@media (max-width: 575.98px) {
  .help-section-container {
    padding-top: 30px;
  }
}
.help-section-container .help-section-title p {
  color: rgba(0, 0, 0, 0.5);
  max-width: 515px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.help-team-box {
  margin-bottom: 30px;
}
.help-team-box .team-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #911D74;
}
@media (max-width: 767.98px) {
  .help-team-box .team-info img {
    width: 55px;
    height: 55px;
  }
}
.help-team-box .team-info h4 {
  color: #911D74;
}
.help-team-box ul {
  margin-top: 0.5rem;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
}
.help-team-box ul li svg {
  max-height: 16px;
  width: 22px;
}
.help-team-box ul li a {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
  -webkit-border-start: 1px solid #C1C1C1;
          border-inline-start: 1px solid #C1C1C1;
  color: #000;
}
.help-team-box ul li a:hover {
  color: #911D74;
}
.help-team-box ul li:not(:last-child) {
  margin-bottom: 0.1rem;
}

#map {
  width: 100%;
  height: 40vh;
}

.fp-viewing-help_section .side-menu, .fp-viewing-footer_section .side-menu, .fp-viewing-help_section header, .fp-viewing-footer_section header {
  opacity: 0;
  visibility: hidden;
}

.our-breadcrumb {
  position: relative;
}
.our-breadcrumb img {
  width: 100%;
  height: auto;
  min-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-breadcrumb .breadcrumb-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px;
}
@media (max-width: 767.98px) {
  .our-breadcrumb .breadcrumb-title {
    -webkit-transform: translate(-50%, -22%);
            transform: translate(-50%, -22%);
  }
}
.our-breadcrumb .breadcrumb-title h1 {
  margin: 0;
  color: #fff;
  font-weight: 700;
}
.our-breadcrumb:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-section-bg {
  background-color: #371638;
  padding-bottom: 120px;
}
@media (max-width: 767.98px) {
  .page-section-bg {
    padding-bottom: 50px;
  }
}
.page-section-bg .page-section-content {
  margin-top: -5vw;
}
@media (max-width: 575.98px) {
  .page-section-bg .page-section-content {
    margin-top: -9vw;
  }
}

.create-account-type-container .account-type-box {
  margin-bottom: 30px;
  height: 410px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.create-account-type-container .account-type-box::before {
  content: "";
  position: absolute;
  display: block;
  width: 105%;
  height: 105%;
  top: -2.5%;
  left: -2.5%;
  background-color: rgba(55, 22, 56, 0.9);
}
.create-account-type-container .account-type-box .account-type-info {
  position: relative;
  z-index: 2;
  text-align: center;
}
.create-account-type-container .account-type-box .account-type-info h3 {
  color: #fff;
  margin-bottom: 2rem;
}
.create-account-type-container .account-type-box .account-type-info img {
  margin-bottom: 2rem;
  max-width: 90%;
}
.create-account-type-container .account-type-box .account-type-info .main-btn {
  min-width: 50%;
}