body {
  position: relative;
  font-family: 'DIN', sans-serif;
  font-size: $base-font-size;
  @include media-breakpoint-down(sm){
    font-size: 15px;
  }
  line-height: 1.5;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: $black-color;
  text-align: #{$dir};

  &.header-is-fixed {
    padding-top: 78px;
    @include media-breakpoint-down(lg) {
      padding-top: 67px;
    }

    &.pages-header-fixed {
      padding-top: 78px;
      @include media-breakpoint-down(lg) {
        padding-top: 67px;
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

html {
  direction: $bDir;
}

.container-content {
  width: 89%;
  @include media-breakpoint-down(md) {
    width: 95%;
  }
  margin-#{$dir}: auto;
  margin-#{$opDir}: auto;
  position: relative;
  //max-width: 1500px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-#{$dir}: 15px;
    padding-#{$opDir}: 15px;
  }
}

html[dir="rtl"] {
  body {
    font-family: 'sf-font', sans-serif;
  }
}


ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

.section video{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

.section .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.fp-watermark {
  display: none;
}

.full-page-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  color: white;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
  }

  h5 {
    @extend %title-3;
  }

  p {
    margin-top: 1rem;
    color: $gray-text;
    max-width: 376px;
    font-weight: 300;
  }
}

.mw-70 {
  max-width: 70%;
}

.side-menu {
  transition: all ease-in-out 0.3s;
  position: fixed;
  #{$opDir}: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  @include media-breakpoint-down(md){
    display: none;
  }
}

.section-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1rem;
  @include media-breakpoint-down(sm){
    font-size: 40px;
  }
}

.side-menu {
  li {
    width: 75px;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    a {
      img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        border: 3px solid $dark-bg;
        opacity: 0.5;
        transition: all ease-in-out 0.3s;
      }
    }

    &.active {
      a {
        img {
          opacity: 1;
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}

#fullpage {
  .section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.help-section-container {
  padding-top: 100px;
  @include media-breakpoint-down(xxl){
    padding-top: 80px;
  }
  @include media-breakpoint-down(md){
    padding-top: 60px;
  }
  @include media-breakpoint-down(sm){
    padding-top: 30px;
  }
  .help-section-title {
    p {
      color: rgba($black-color, 0.5);
      @extend .text-2;
      max-width: 515px;
      margin: 0 auto;
      letter-spacing: 1px;
    }
  }
}
.help-team-box{
  margin-bottom: 30px;
  .team-info{
    img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $btn-bg;
      @include media-breakpoint-down(md){
        width: 55px;
        height: 55px;
      }
    }
    h4{
      color: $btn-bg;
      @extend .text-2;
    }
  }
  ul{
    margin-top: 0.5rem;
    padding-inline-start:5px ;
    li{
      svg{
        max-height: 16px;
        width: 22px;
      }
      a{
        margin-inline-start: 5px;
        padding-inline-start: 5px;
        border-inline-start: 1px solid #C1C1C1;
        color: $black-color;
        &:hover{
          color: $btn-bg;
        }
      }
      &:not(:last-child){
        margin-bottom: 0.1rem;
      }
    }
  }
}
#map{
  width: 100%;
  height: 40vh;
}
.fp-viewing-help_section .side-menu,.fp-viewing-footer_section .side-menu,.fp-viewing-help_section header,.fp-viewing-footer_section header{
  opacity: 0;
  visibility: hidden;
}
.our-breadcrumb{
  img{
    width: 100%;
    height: auto;
    min-height: 150px;
    object-fit: cover;
  }
  position: relative;
  .breadcrumb-title{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include media-breakpoint-down(md){
      transform: translate(-50%, -22%);
    }
    padding: 15px;
    h1{
      margin: 0;
      color: $white;
      @extend .text-2;
      font-weight: 700;
      svg{
        max-height: 40px;
        max-width: 40px;
        margin-inline-end: 5px;
        @include media-breakpoint-down(md){
          max-width: 30px;
          max-height: 30px;
        }
      }
    }
  }
  &:after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    left: 0;
    top:0;
    height: 100%;
    background-color: rgba($black-color, 0.5);
  }
}
.page-section-bg{
  background-color: $dark-bg;
  padding-bottom: 120px;
  @include media-breakpoint-down(md){
    padding-bottom: 50px;
  }
  .page-section-content{
    margin-top: -5vw;
    @include media-breakpoint-down(sm){
      margin-top: -9vw;
    }
  }
}
.create-account-type-container{
  .account-type-box{
    margin-bottom: 30px;
    height: 410px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      display: block;
      width: 105%;
      height: 105%;
      top: -2.5%;
      left: -2.5%;
      background-color: rgba($dark-bg , 0.90);
    }
    .account-type-info{
      position: relative;
      z-index: 2;
      text-align: center;
      h3{
        color: $white;
        margin-bottom: 2rem;
        @extend .title-3;
      }
      img{
        margin-bottom: 2rem;
        max-width: 90%;
      }
      .main-btn{
        min-width: 50%;
      }
    }
  }
}
.my-card{
  padding: 30px;
  border-radius: 10px;
  background-color: $white;
  @include media-breakpoint-down(md){
    padding: 20px;
  }
  @include media-breakpoint-down(sm){
    padding: 15px;
  }
}

.package-box{
  @extend .my-card;
  position: relative;
  .pack-number{
    position: absolute;
    top: 0;
    #{$dir}:0;
    display: flex;
    height: 50px;
    width: 50px;
    border-end-end-radius: 10px;
    background-color: $dark-bg;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
  }
  img{
    max-width: 70%;
    height: auto;
  }
}
.places-container{
  .place-check{
    position: relative;
    .form-check-label{
      background-color: #F5F5F5;
      border-radius: 8px;
      border: 1px solid #f5f5f5;
      padding: 15px;
      display: block;
      cursor: pointer;
      .check-text{
        font-size: 14px;
        color: #999999;;
      }
      .check-number{
        font-size: 20px;
        color: $black-color;
        padding-inline-start: 5px;
      }
      .place{
        padding-inline-start: 25px;
        .check-number{
          width: 60px;
        }
      }
      .space{
        position: relative;
        &:before{
          position: absolute;
          content: '';
          display: block;
          background-color: #D4D4D4;
          height: 100%;
          width: 1px;
          #{$dir}:0;
          top: 50%;
          transform: translateY(-50%);
        }
        padding-inline-start: 20px;
      }
    }
    .form-check-input{
      cursor: pointer;
      position: absolute;
      #{$dir}:13px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      width: 1.1em;
      height: 1.1em;
      &:checked + label{
        border-color: $btn-bg;
      }
    }
  }
}
.profile-info{
  .profile-img{
    text-align: center;
    img{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border:2px solid #F5F5F5 ;
      object-fit: cover;

    }
  }
}
.profile-user-name{
  align-items: center;
  p{
    @extend %text-2;
    padding-bottom: 4px;
  }
}
.profile-info-list{
  li{
    color: #646464;
    display: flex;
    align-items: center;
    unicode-bidi: plaintext;
    svg{
      margin-inline-end: 6px;
      margin-bottom: -3px;
      width: 14px;
      height: auto;
    }
  }
}
.profile-space{
  display: flex;
  align-items: center;
  .profile-space-number{
    padding: 0 15px;
    border-radius: 8px;
    background-color: #F5F5F5;
    @extend %title-3;
    font-weight: 700;
    span{
      @extend .text-2;
      font-weight: 400;
    }
  }
}
.profile-package{
  img{
    width: 195px;
    max-width: 50%;
    height: auto;
  }
}
.profile-ticket-box{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  .profile-ticket-img{
    margin-inline-end: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color:#F5F5F5 ;
    svg{
      width: 45px;
      height: auto;
    }
  }
  h4{
    @extend %text-2;
    font-weight: 400;
  }
  p{
    color: $gray-text;
    margin-top: 2px;
  }
}